@{
    ViewData["Title"] = "О Нас";
}
<h1>@ViewData["Title"]</h1>

<div class="container about-section">
    <p>Добро пожаловать в книжный магазин "<b class="font-tiny5">Знайка</b>"! Мы рады приветствовать вас на нашем сайте. Наша миссия — продвигать культуру чтения среди молодежи и вдохновлять людей на открытие новых миров через книги.</p>
    <p>Книжный магазин "Знайка" был основан в 2023 году с целью создания уютного и вдохновляющего пространства для любителей книг. Мы стремимся предложить нашим клиентам широкий ассортимент книг, от классических произведений до современных бестселлеров.</p>
    <p>Наша миссия — сделать чтение доступным и увлекательным для всех. Мы верим, что книги могут изменить жизнь, открывать новые горизонты и вдохновлять на великие дела. Мы стремимся поддерживать культуру чтения и способствовать развитию образования и культуры.</p>
    <p>Наши ценности:</p>
    <ul>
        <li>Качество: Мы предлагаем только лучшие книги от известных авторов.</li>
        <li>Сервис: Мы стремимся предоставить нашим клиентам максимально комфортный и удобный сервис.</li>
        <li>Доступность: Мы делаем все возможное, чтобы книги были доступны каждому.</li>
        <li>Инновации: Мы постоянно ищем новые способы улучшения нашего сервиса и предложения новых услуг.</li>
    </ul>
</div>
<div>
    <h1>Отзывы</h1>
    <div class="flex-center">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Наталья</div>
            <div class="card-body">
                <h5 class="card-title">Info Заголовок карточки</h5>
                <p class="card-text">Несколько быстрых примеров текста для построения на основе Заголовок карточки и составления основной части содержимого карточки.</p>
            </div>
        </div>
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Наталья</div>
            <div class="card-body">
                <h5 class="card-title">Info Заголовок карточки</h5>
                <p class="card-text">Несколько быстрых примеров текста для построения на основе Заголовок карточки и составления основной части содержимого карточки.</p>
            </div>
        </div>
    </div>
</div>
