@{
    ViewData["Title"] = "О Нас";
}
<h1>@ViewData["Title"]</h1>

<div class="container about-section">
    <p>Добро пожаловать в книжный магазин "<b class="font-tiny5">Знайка</b>"! Мы рады приветствовать вас на нашем сайте. Наша миссия — продвигать культуру чтения среди молодежи и вдохновлять людей на открытие новых миров через книги.</p>
    <p>Книжный магазин "Знайка" был основан в 2023 году с целью создания уютного и вдохновляющего пространства для любителей книг. Мы стремимся предложить нашим клиентам широкий ассортимент книг, от классических произведений до современных бестселлеров.</p>
    <p>Наша миссия — сделать чтение доступным и увлекательным для всех. Мы верим, что книги могут изменить жизнь, открывать новые горизонты и вдохновлять на великие дела. Мы стремимся поддерживать культуру чтения и способствовать развитию образования и культуры.</p>
    <p>Наши ценности:</p>
    <ul>
        <li>Качество: Мы предлагаем только лучшие книги от известных авторов.</li>
        <li>Сервис: Мы стремимся предоставить нашим клиентам максимально комфортный и удобный сервис.</li>
        <li>Доступность: Мы делаем все возможное, чтобы книги были доступны каждому.</li>
        <li>Инновации: Мы постоянно ищем новые способы улучшения нашего сервиса и предложения новых услуг.</li>
    </ul>
</div>
<div>
    <h1>Отзывы</h1>
    <div class="flex-center">
        <!-- Карточка 1 -->
        <div class="card mb-3" style="max-width: 18rem; margin: 0 3px;">
            <div class="card-header">Никнейм 1</div>
            <div class="card-body">
                <p class="card-text">Отличная книга! Рекомендую всем любителям детективов.</p>
            </div>
        </div>

        <!-- Карточка 2 -->
        <div class="card mb-3" style="max-width: 18rem; margin: 0 3px;">
            <div class="card-header">Никнейм 2</div>
            <div class="card-body">
                <p class="card-text">Сюжет захватывающий, не могла оторваться до самого конца.</p>
            </div>
        </div>

        <!-- Карточка 3 -->
        <div class="card mb-3" style="max-width: 18rem; margin: 0 3px;">
            <div class="card-header">Виталий Н.</div>
            <div class="card-body">
                <p class="card-text">Отличный автор, все его книги просто шедевры.</p>
            </div>
        </div>
    </div>
</div>

<div>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A810d9c5cc87ca95136ed97a975862a46a879da624c3c506fdc11b98c8ae09d0e&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
</div>