@{
    ViewData["Title"] = "Home Page";
}

<div class="page-container">
    <div class="glass-box">
        <h1>Начните читать - Сегодня!</h1>
        <a class="nav-link btn-base" asp-area="" asp-controller="Home" asp-action="Catalog"><b>Каталог</b></a>
    </div>
</div>
