@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center BackBoock">
    <h1 class="font-stick">Начать читать ещё легче!</h1>
    <div>
        aga
    </div>
</div>
<div style="background-color:black; min-height:400px" class="align-content-between justify-content-between">
    <h1>Почему выбирают нас?</h1>
    <div class="container text-center">
        <div class="row row-cols-2">
            <div class="col">Широкий ассортимент книг</div>
            <div class="col">Быстрая и удобная доставка</div>
            <div class="col">Качественный сервис и поддержка клиентов</div>
            <div class="col">Программы лояльности и скидки</div>
        </div>
    </div>
</div>