@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><b>"Знайка"</b> уважает вашу конфиденциальность и стремится защищать ваши данные. Эта политика конфиденциальности описывает, как мы обрабатываем информацию, собираемую на нашем сайте.</p>

<h2>Какие данные собираются</h2>
<p>На нашем сайте мы не собираем личную информацию, такую как имена, адреса электронной почты, номера телефонов и т.д.</p>

<h2>Как собираются данные</h2>
<p>Наш сайт не использует формы регистрации или другие методы для сбора личной информации. Мы также не используем куки или другие технологии отслеживания для сбора данных о пользователях.</p>

<h2>Как используются данные</h2>
<p>Поскольку мы не собираем личную информацию, мы не используем данные пользователей для каких-либо целей, включая маркетинг, аналитику или улучшение сайта.</p>

<h2>Как данные защищаются</h2>
<p>Поскольку мы не собираем личную информацию, нам не требуется принимать меры для защиты данных пользователей.</p>

<h2>С кем делятся данные</h2>
<p>Поскольку мы не собираем личную информацию, мы не делимся данными с третьими сторонами или правоохранительными органами.</p>

<h2>Права пользователей</h2>
<p>Поскольку мы не собираем личную информацию, у пользователей нет необходимости запрашивать доступ, исправление или удаление своих данных.</p>

<h2>Контактная информация</h2>
<p>Если у вас есть вопросы по поводу нашей политики конфиденциальности, пожалуйста, свяжитесь с нами по адресу: <a href="mailto:znaykacontact@gmail.com">znaykacontact@gmail.com</a>.</p>

<h2>Изменения в политике конфиденциальности</h2>
<p>Мы можем обновлять эту политику конфиденциальности. Любые изменения будут опубликованы на этой странице, и мы уведомим вас о значительных изменениях.</p>