@{
    ViewData["Title"] = "Научная Фантастика";
}
<h1>@ViewData["Title"]</h1>

<div class="catalog-container">
    <div class="card-deck">
        <!-- Карточка книги 1 -->
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/Images/oblojka.png" class="img-fluid rounded-start" alt="Обложка книги 1">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Название книги 1</h5>
                        <p class="card-text">Описание книги 1. Описание книги 1. Описание книги 1. Описание книги 1. Описание книги 1.</p>
                        <p class="card-text"><small class="text-body-secondary">Автор книги 1</small></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Карточка книги 2 -->
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/Images/oblojka.png" class="img-fluid rounded-start" alt="Обложка книги 2">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Название книги 2</h5>
                        <p class="card-text">Описание книги 2. Описание книги 2. Описание книги 2. Описание книги 2. Описание книги 2.</p>
                        <p class="card-text"><small class="text-body-secondary">Автор книги 2</small></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- больше карточек по аналогии -->
    </div>
</div>